<!-- table of thiss -->
<div class="banner bg-primary"><h2>Attendee Report</h2></div>
<div class="table-responsive">
<table class="table-bordered table-hover">
  <!-- TODO - styling not quite working -->
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Country</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
  {{#each attendees}}
      <tr>
          <td>{{{ this.firstName }}}</td>
          <td>{{{ this.lastName }}}</td>
          <td>{{{ this.address }}}</td>
          <td>{{{ this.address2 }}}</td>
          <td>{{{ this.city }}}</td>
          <td>{{{ this.state }}}</td>
          <td>{{{ this.zipCode }}}</td>
          <td>{{{ this.country }}}</td>
          <td>{{{ this.formattedRegisterDate }}}</td>
      </tr>
  {{/each}}
  </tbody>
</table>
</div>